&--flex {

	@mixin flex-variants {
		display: flex;

	    &--between {
	      justify-content: space-between;
	    }

	    &--around {
	      justify-content: space-around;
	    }

	    &--wrap {
	      flex-wrap: wrap;
	    }

	    &--center {
	      justify-content: center;
	    }

	    &--start {
	      align-items: flex-start;
	    }

	    &--end {
	      align-items: flex-end;
	    }
	}

	.row,
	.horizontal, {
		@include flex-variants();

		flex-direction: row;
	}

	.col,
	.vertical,
	.column {
		@include flex-variants();
		
		flex-direction: column;
	}

	.flex-grow {
		flex-grow: 1;
	}
}
