$container_padding: 10px;

$widget_padding: 5px;
$widget_radius: 0px;
$widget_margin: 5px;

$highlight_color: rgba(255, 255, 255, 0.30);
$highlight_dark_color: rgba(0, 0, 0, 0.2);

$site_padding: 10px;
